<%- include("partials/header")  %>
<!-- Font Awesome For Icons  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Home Page</title>

</head>

<body>

  <!-- Navigation -->
  <%- include("partials/nav")  %>

  <div class="container">
    <h1 id="titleHeader">Search Incidents</h1>

    <form class="form-inline" action="/incidents" method="GET">
      <div class="form-group mx-sm-3 mb-2">
        <label for="userid" style="margin-right: 2em;">Input your Guardian User ID</label>
        <input type="text" class="form-control" id="userid" name="userid" placeholder="123">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
    </form>
    <!-- Users Table with Devices  -->
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Device ID</th>
          <th scope="col">Livestream</th>
        </tr>
      </thead>
      <tbody>
        <%var count =0; for(const user of users){ %>
        <tr>
          <th scope="row"><%= count+1 %> </th>
          <td><%=user.name%></td>
          <td><a href="tel:<%=user.mobile%> "> <i class="fa fa-phone-square" aria-hidden="true"></i></a> <%=user.mobile %></td>
          <td> <%=devices[count].device_id %></td>
          <td><a href="<%=devices[count].live_stream_ip%>" class="btn btn-gradls" target="_">Open</a></td>
          <% count++ %>
        </tr>

        <% } %>


      </tbody>
    </table>

    <hr><br>
    <!-- Incidents Table per Device  -->
    <table class="table table-dark table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Device ID</th>
          <th scope="col">Incident Time</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <%var count =0; for(const incident of incidents){ %>
        <tr>
          <th scope="row"><%= ++count %> </th>
          <td><%=incident.device_id%></td>
          <td><%=incident.incident_time %></td>
          <td><%=incident.incident_type %></td>
        </tr>

        <% } %>


      </tbody>
    </table>


  </div>

  <%- include("partials/footer")  %>